<div class="card-container flex-column">
  <div class="row-edit flex-align-center">
    <i class="fa-solid fa-user-pen"></i>
    <i class="fa-solid fa-user-xmark"></i>
  </div>
  <div class="name-email flex-align-center">
    <p id="name">John Doe</p>
    <div class="detail flex-align-center">
      <i class="fa-solid fa-envelope"></i>
      <p>john.johh.john.doe@email.com</p>
    </div>
  </div>
  <div class="details flex-align-center">
    <div class="col-left">
      <div class="detail rel-status flex-align-center">
        <i class="fa-solid fa-heart"></i>
        <p>married</p>
      </div>
      <div class="detail food flex-align-center">
        <i class="fa-solid fa-bowl-food"></i>
        <p>pancake</p>
      </div>
    </div>
    <div class="col-right">
      <div class="detail">
        <p>This is a short comment...</p>
      </div>
    </div>
  </div>
</div>
