<div appBackgroundImg class="card-container flex-column">
  <div class="row-edit flex-align-center">
    <i class="fa-solid fa-user-pen"></i>
    <i (click)="deleteFriend(friend.id)" class="fa-solid fa-user-xmark"></i>
  </div>
  <div class="name-email flex-align-center">
    <p id="name">{{ friend.name }}</p>
    <div class="detail flex-align-center">
      <i class="fa-solid fa-envelope"></i>
      <p>{{ friend.email }}</p>
    </div>
  </div>
  <div class="details">
    <div class="col-left">
      <div class="detail rel-status flex-align-center">
        <i class="fa-solid fa-heart"></i>
        <p>{{ friend.relationshipStatus.id | relationshipStatus }}</p>
      </div>
      <div class="detail food flex-align-center">
        <i class="fa-solid fa-bowl-food"></i>
        <p>{{ friend.food.name }}</p>
      </div>
    </div>
    <div class="col-right">
      <div class="detail">
        <p>{{ friend.comment }}</p>
      </div>
    </div>
  </div>
</div>
